*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
uikit/build/generated/assets/
uikit/build/generated/res/
uikit/build/generated/source/aidl/
uikit/build/generated/source/apt/
uikit/build/generated/source/rs/
uikit/build/intermediates/bundles/debug/aidl/
uikit/build/intermediates/check-manifest/
uikit/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
uikit/build/intermediates/incremental/packageDebugResources/stripped.dir/
uikit/build/intermediates/incremental/processDebugResources/
uikit/build/intermediates/lint/
uikit/build/intermediates/rs/
uikit/build/intermediates/shaders/
uikit/build/intermediates/transforms/stripDebugSymbol/
uikit/build/tmp/
zxingLib/build/generated/assets/
zxingLib/build/generated/res/
zxingLib/build/generated/source/aidl/
zxingLib/build/generated/source/apt/
zxingLib/build/generated/source/rs/
zxingLib/build/intermediates/bundles/debug/aidl/
zxingLib/build/intermediates/bundles/debug/assets/
zxingLib/build/intermediates/check-manifest/
zxingLib/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
zxingLib/build/intermediates/incremental/packageDebugResources/stripped.dir/
zxingLib/build/intermediates/incremental/processDebugResources/
zxingLib/build/intermediates/intermediate-jars/debug/jni/
zxingLib/build/intermediates/jniLibs/
zxingLib/build/intermediates/lint/
zxingLib/build/intermediates/rs/
zxingLib/build/intermediates/shaders/
zxingLib/build/intermediates/transforms/stripDebugSymbol/
zxingLib/build/tmp/
uikit/build/
zxingLib/build/
