<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.sharesdk"
    android:versionCode="2"
    android:versionName="2.0" >

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <!-- ShareSDK的activity -->
        <!--<activity-->
        <!--android:name="com.mob.tools.MobUIShell"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:windowSoftInputMode="stateHidden|adjustResize" >-->

        <!--<intent-filter>-->
        <!--<data android:scheme="tencent100371282" />-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->

        <!--&lt;!&ndash; 调用新浪原生SDK，需要注册的回调activity &ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->

        <!--&lt;!&ndash;集成line客户端登录授权，需要添如下格式的过滤器&ndash;&gt;-->
        <!--<intent-filter>-->
        <!--<data android:scheme="line.1477692153" />-->
        <!--<action android:name="android.intent.action.VIEW"/>-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->

        <!--</activity>-->
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="137b5c5ce8f55"/>
        <meta-data android:name="Mob-AppSecret" android:value="b28db523803b31a66b590150cb96c4fd"/>
    </application>

</manifest>
